.menu-options {
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    background-color: white;
    border-radius: 0.5rem;
    z-index: 50;
    width: 12rem;
    border: 1px solid #e5e7eb;


    &.active {
        display: flex;
        flex-direction: column;
    }

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        list-style: none;
        gap: 5px;
        padding: 0.5rem 1rem 0.5rem 1rem;
        color: #374151;
        cursor: pointer;
        border-radius: 0.5rem;


        span {
            color: #374151;
            font-size: 0.875rem;
            font-weight: 500;
            line-height: 1.25rem;
        }

        &:visited {
            color: inherit;
        }

        &:hover {
            background-color: rgb(248, 248, 248);
        }
    }
}