<app-header
[optionNavSelect]= "announcet"
></app-header>

<main>
    <section>
        <div class="section-content">
            <div class="section-title">
                <h1>Anunciar Objeto</h1>
                <p>Compartilhe seus objetos ociosos e ganhe dinheiro</p>
            </div>

            <div class="basic-info-area">
                <h2>Informações basicas</h2>
                <div class="inputs-area">
                    <label for="">Titulo</label>
                    <input type="text">
                    <label for="">Descrição</label>
                    <textarea name="" id="" cols="10" rows="10"></textarea>
                </div>
                <div>
                    <label for=""></label>
                    <select name="" id=""></select>
                    <label for=""></label>
                    <input type="text">
                    <label for=""></label>
                    <select name="" id=""></select>
                    <label for=""></label>
                    <input type="text">
                </div>
            </div>
        </div>
    </section>
</main>