header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-container-login {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1230px;
        font-weight: 500;
        padding: 0px 15px 0 15px;

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                max-width: 183px;

                img {
                    width: 35%;
                    margin: auto auto auto 0;
                }
            }
        }

        .nav-links-off,
        .nav-links-on {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            a {
                display: flex;
                align-items: center;
                gap: 5px;
                color: #505050;
                text-decoration: none;
                font-size: 14px;

                &.active {
                    font-weight: bold;
                    color: #2563EB;
                    padding-bottom: 5px;
                    border-bottom: 2px solid #2563EB;
                }
            }
        }

        .nav-links-off {
            margin-right: 95px;
        }

        .nav-links-off,
        .nav-links-on {
            display: flex;

            @media (max-width: 950px) {
                display: none;
            }
        }

        .container-btn-enter {
            display: block;
        }

        .btn-menu {
            font-weight: bold;
            border: none;
            border-radius: 7px;
            background-color: #2563EB;
            color: white;
            padding: 10px 15px 10px 15px;

            &:hover {
                background-color: #1E40AF;
                cursor: pointer;
            }
        }

        .container-hamburguer {
            display: none;

            @media (max-width: 950px) {
                display: flex;
                gap: 10px;

            }

            .botao-hamburguer {
                display: block;
                z-index: 1100;
                color: black;
                border: none;
                background: none;
                margin-left: 20px;
                cursor: pointer;
                border-radius: 5px;

                .menu-hamburguer-linha {
                    width: 30px;
                    height: 1px;
                    margin: 5px;
                    border: 1px solid #1351d8;
                    border-radius: 5px;
                    background-color: #1351d8;
                }
            }
        }

        .conteiner-user {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;

            @media (max-width: 950px) {
                display: none;
            }

            a {
                text-decoration: none;
            }

            svg {
                margin-top: 3px;
                transition: transform 0.2s ease;

                &.flipped {
                    transform: rotate(180deg);
                }
            }

            .profile-user {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                font-weight: 500;
                color: #505050;

                &:hover {
                    cursor: pointer;
                    color: #2563EB;
                }

                .container-img-profile {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 27px;
                    height: 27px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: #D1D1D1;
                    
                    .img-profile {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    
                    svg {
                        margin: auto;
                    }
                }
            }

            .btn-back {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: white;
                border: none;
                color: #505050;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}