section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #f9fafb;
    padding: 1rem 1rem 4rem 1rem;

    .section-content {
        width: 100%;
        max-width: 1280px;

        .section-title {
            margin-bottom: 2rem;

            h1 {
                font-size: 1.875rem;
                line-height: 2.25rem;
                font-weight: 700;
                margin-bottom: 0.5rem;
                color: #111827;

                @media(max-width: 768px) {
                    font-size: 2.25rem;
                    line-height: 2.5rem;
                }
            }

            p {
                color: #4b5563;
            }
        }

        .menu-nav {
            display: flex;
            width: 100%;
            margin-bottom: -1px;
            gap: 20px;
            border-bottom: 1px solid #e5e7eb;

            button {
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.25rem;
                padding: 1rem 0.25rem 1rem 0.25rem;
                border: none;
                background-color: transparent;
                color: #6b7280;
                cursor: pointer;
                border-width: 2px;

                &:hover {
                    border-bottom: 2px solid #6b7280;
                }

                &.click {
                    border-bottom: 2px solid #2563eb;
                    color: #2563eb;
                }
            }
        }

        .stats-card-area {
            display: grid;
            grid-template-columns: repeat(4, minmax(0, 1fr));
            gap: 20px;
            padding-top: 1rem;

            @media (max-width: 867px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @media (max-width: 450px) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }

            .stats-card {
                display: flex;
                padding: 1.5rem;
                border-radius: 0.75rem;
                box-shadow: 1px 0 4px 2px rgba(0, 0, 0, 0.1);
                gap: 10px;
                margin-bottom: 2rem;

                .stats-card-img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0.5rem;
                    width: 3rem;
                    height: 3rem;
                }

                #card-1 {
                    background-color: #dbeafe;
                    color: #2563eb;
                }

                #card-2 {
                    background-color: #fef9c3;
                    color: #ca8a04;
                }

                #card-3 {
                    background-color: #dcfce7;
                    color: #16a34a;
                }

                #card-4 {
                    background-color: #f3f4f6;
                    color: #4b5563;
                }

                .statistical-value {
                    font-weight: 700;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    color: #111827;
                }
            }
        }

        .reservation-loca-not-found {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 3rem;
            background-color: #f9fafb;
            padding: 4rem 1rem 4rem 1rem;
            box-shadow: 1px 0 4px 2px rgba(0, 0, 0, 0.1);
            border-radius: 0.75rem;

            h3 {
                color: #111827;
                font-size: 1.25rem;
                line-height: 1.75rem;
                margin-bottom: 0.5rem;
                font-weight: 600;
                text-align: center;
            }

            p {
                color: #4b5563;
                margin-bottom: 1.5rem;
                text-align: center;
            }

            .lucide-calendar {
                width: 4rem;
                height: 4rem;
                margin-bottom: 1em;
                color: #9ca3af;
            }

            a {
                text-decoration: none;
            }

            button {
                display: flex;
                align-items: center;
                color: white;
                background-color: #2563eb;
                padding: 0.75rem 1.5rem 0.75rem 1.5rem;
                border-radius: 0.5rem;
                font-weight: 500;
                border: none;
                cursor: pointer;

                &:hover {
                    background-color: #1258ef;
                }
            }
        }

        .area-cards {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 20px;

            @media (max-width: 1000px) {
                grid-template-columns: repeat(2, minmax(0, 1fr))
            }

            @media (max-width: 620px) {
                grid-template-columns: repeat(1, minmax(0, 1fr))
            }
        }
    }
}