<main>
    <section class="section-register">
        <form id="form-register">
            <img src="img/logo-danki.png" alt="Logo Danki" class="logo">

            <div class="input-group">
                <div class="field">
                    <label for="nome">Nome:</label>
                    <input [(ngModel)]="name" type="text" id="nome" name="nome" required>
                </div>

                <div class="field">
                    <label for="sobrenome">Sobrenome:</label>
                    <input [(ngModel)]="lastname" type="text" id="sobrenome" name="sobrenome" required>
                </div>
            </div>

            <div class="input-group">
                <div class="field">
                    <label for="email">Email:</label>
                    <input [(ngModel)]="email" type="email" id="email" name="email" required>
                </div>
            </div>

            <div class="input-group">
                <div class="field">
                    <label for="telefone">Telefone:</label>
                    <input [(ngModel)]="phone" type="tel" id="telefone" name="telefone" required>
                </div>
            </div>

            <div class="input-group">
                <div class="field">
                    <label for="cpf">CPF:</label>
                    <input [(ngModel)]="cpf" type="text" id="cpf" name="cpf" required>
                </div>
            </div>

            <div class="input-group">
                <div class="field">
                    <label for="dataNascimento">Data de nascimento:</label>
                    <input [ngModel]="birthday | date:'yyyy-MM-dd'" type="date" id="dataNascimento"
                        name="dataNascimento" required>
                </div>
            </div>

            <div class="input-group">
                <div class="field">
                    <label for="password">Senha:</label>
                    <input [(ngModel)]="password" type="password" id="password" name="password" required>
                </div>
            </div>

            <div class="checkbox-group">
                <label class="checkbox-lgpd">
                    <input type="checkbox" [(ngModel)]="isTermsAccepted" name="termsAccepted" />
                    <span>Li e aceito os termos de privacidade</span>
                </label>
            </div>

            <button (click)="register()" class="btn-cadastrar" type="submit" [disabled]="!isTermsAccepted">
                Cadastrar
            </button>

            <div class="text-redirect">
                <p>Já tem uma conta? <a href="/login">Faça login aqui</a></p>
            </div>
        </form>
    </section>
</main>