.section-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    .logo {
        width: 100px;
    }

    #form-register {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        border: 1px solid #E5E7EB;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        padding: 30px 50px 30px 50px;
        gap: 25px;
        max-width: 525px;
        height: auto;
        margin: 10px;
        flex: 1;

        .input-group {
            display: flex;
            gap: 20px;
        }

        .field {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        small {
           color: red;
           font-size: 0.7rem; 
           padding-bottom: 2px;
        }

        input {
            padding: 7px 6px 7px 6px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            width: 100%;

            &.ng-invalid.ng-touched {
                border: 1px solid red;
            }
        }

        label {
            display: block;
            margin-bottom: 5px;
            color: #7d7e80;
        }

        .checkbox-group {
            margin-top: -10px;
        }

        .checkbox-lgpd {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #7d7e80;
            font-size: 14px;

            input {
                width: 30px;
            }
        }



        .btn-cadastrar {
            border: none;
            border-radius: 5px;
            background-color: #2563EB;
            color: white;
            padding: 10px;

            &:hover {
                background-color: #1E40AF;
                cursor: pointer;
            }

            &:disabled {
                background-color: #9CB3E6;
                cursor: not-allowed;
            }
        }

        .text-redirect {
            text-align: center;
            color: #7d7e80;

            #terms {
               padding-top: 10px; 
            }
        }
    }
}