footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to left, #7e22ce 20%, #313ac2 80%, #3B5BDB 100%);
    padding: 4rem;

    .footer-text {
        text-align: center;

        h2 {
            color: white;
            font-size: 2.25rem;
            line-height: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            color: white;
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin-bottom: 2rem;
        }
    }

    .area-btn {
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: center;
        gap: 20px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            font-size: 0.99rem;
            font-weight: 600;
            max-height: 55px;
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            color: #313ac2;

            &.btn-anunciar {
                background-color: #FFD700;

                &:hover {
                    background-color: #e6c200;
                }
            }
        }
    }
}