<section class="benefits-section">
    <div class="benefits-section-container" appAnimateOnScroll>
        <div class="benefits-section-title">
            <h2>Por que escolher a Dankirent ?</h2>
            <p>A plataforma mais confiável para aluguel entre pessoas</p>
        </div>
        <div class="benefits-section-content">
            <article class="benefit-item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-zap w-8 h-8 text-blue-600" aria-hidden="true">
                    <path d="M4 14a1 1 0 0 1-.78-1.63l9.9-10.2a.5.5 0 0 1 .86.46l-1.92 6.02A1
                         1 0 0 0 13 10h7a1 1 0 0 1 .78 1.63l-9.9 10.2a.5.5 0 0 1-.86-.46l1.92-6.02A1 1 0 0 0 11 14z">
                    </path>
                </svg>
                <h3>Rápido e Fácil</h3>
                <p>Encontre e alugue objetos em poucos cliques</p>
            </article>
            <article class="benefit-item">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shield-check"
                    aria-hidden="true">
                    <path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z">
                    </path>
                    <path d="m9 12 2 2 4-4"></path>
                </svg>
                <h3>Segurança e Confiável</h3>
                <p>Sistema de Pagamento seguro com proteção para locadores e lacatários</p>
            </article>
            <article class="benefit-item">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-users w-8 h-8 text-blue-600" aria-hidden="true">
                    <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
                    <path d="M16 3.128a4 4 0 0 1 0 7.744"></path>
                    <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
                    <circle cx="9" cy="7" r="4"></circle>
                </svg>
                <h3>Comunidade Ativa</h3>
                <p>Milhares de usuários compartilhando recursos</p>
            </article>
        </div>
    </div>
</section>