.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(to left top, #7e22ce 0%, #313ac2 30%, #3B5BDB 100%);
    height: 485px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    text-align: center;

}

h1 {
    font-size: 3.9rem;
    line-height: 1;
    font-weight: 700;
    width: 500px;
}

h1 span {
    color: #FFD700;
}

p {
    font-size: 1.5rem;
    line-height: 2rem;
    max-width: 48rem;
}

.area-btn {
    display: flex;
    gap: 20px;
}

.area-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #313ac2;
}

.btn-anunciar {
    background-color: #FFD700;
}

.btn-anunciar:hover {
    background-color: #e6c200;
}

.circle {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 2%;
    top: 140px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.circle-pulse {
    position: fixed;
    width: 90px;
    left: 25%;
    height: 90px;
    top: 300px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    animation: pulse 1.3s normal infinite;
    z-index: 1;
}

.circle-animation {
    position: absolute;
    width: 140px;
    height: 140px;
    right: 50px;
    top: 370px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    animation: bounce 1s normal infinite;
    z-index: 1;
}

@keyframes bounce {

    0% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    50% {
        transform: translateY(-50px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-in;

    }
}

@keyframes pulse {

    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        opacity: 0.1;

    }
    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}


.section-categories {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;

}

.categories-text {
    text-align: center;
    margin-bottom: 3rem;
}

.categories-section {
    text-align: center;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    gap: 10px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: auto;

}

.categories h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.categories p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #505050;
}

.categories-list {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.5rem;
}

.category-item {
    text-align: center;
    width: 180px;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: rgb(249, 250, 251);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition-duration: 300ms;
}

.category-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    color: #2563eb ;
    background-color: rgb(219, 234, 254, 0.5);
}

.category-item h3 {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: rgb(17 24 39 1);
}

.category-item p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #505050;
}


.img-category {
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 0.75rem;
}