<app-header></app-header>
<main>
    <section class="hero-section">
        <div class="hero-content">
            <h1>Alugue Objetos <span>Próximos a Você</span></h1>
            <p>Monetize seus objetos ociosos ou encontre exatamente o que precisa para seu projeto</p>
            <div class="area-btn">
                <button class="btn-explorar"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="lucide lucide-search" aria-hidden="true">
                        <path d="m21 21-4.34-4.34"></path>
                        <circle cx="11" cy="11" r="8"></circle>
                    </svg><span>Explorar Objetos</span></button>
                <button class="btn-anunciar"><span>Anunciar Objeto</span><svg xmlns="http://www.w3.org/2000/svg"
                        width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right"
                        aria-hidden="true">
                        <path d="M5 12h14"></path>
                        <path d="m12 5 7 7-7 7"></path>
                    </svg></button>
            </div>
        </div>
        <div class="circle"></div>
        <div class="circle-pulse"></div>
        <div class="circle-animation"></div>
    </section>
    <section class="categories-populars">
        <div class="categories">
            <div class="categories-text">
                <h2>Categorias Populares</h2>
                <p>Encontre Exatamente oque você precisa</p>
            </div>
            <div class="categories-list">
                <div class="category-item">
                    <div class="img-category">🔧</div>
                    <h3>Ferramentas</h3>
                    <p>150+ itens</p>
                </div>
                <div class="category-item">
                    <div class="img-category">⛺</div>
                     <h3>Camping</h3>
                    <p>80+ itens</p>
                </div>
                <div class="category-item">
                    <div class="img-category">🎸</div>
                     <h3>Instrumentos</h3>
                    <p>60+ itens</p>
                </div>
                <div class="category-item">
                    <div class="img-category">⚽</div>
                     <h3>Esportes</h3>
                    <p>120+ itens</p>
                </div>
                <div class="category-item">
                    <div class="img-category">📱</div>
                     <h3>Eletrônicos</h3>
                    <p>90+ itens</p>
                </div>
                <div class="category-item">
                    <div class="img-category">🏠</div>
                     <h3>Casa</h3>
                    <p>200+ itens</p>
                </div>
            </div>
        </div>
    </section>
</main>