<main>
    <section class="section-login">
        <form [formGroup]="loginForm" (ngSubmit)="authentication()" id="form-login">
            <img src="img/logo-danki.png" alt="Logo Danki" class="logo">
              <div class="input-group">
                  <label for="email">Email:</label>
                  <input id="email" type="email" formControlName="email">
                  <small class="error-message" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                     {{ getErrorMessage('email') }}
                  </small>
              </div>

              <div class="input-group">
                  <label for="password">Senha:</label>
                  <input id="password" type="password" formControlName="password">
                  <small class="error-message" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                     {{ getErrorMessage('password') }}
                  </small>
              </div>
            <button class="btn-entrar" type="submit" >Entrar</button>

            <div class="text-redirect">
                <p>Não tem uma conta? <a href="/register">Cadastra-se aqui</a></p>
            </div>
        </form>
    </section>
</main>