.terms-use {
    color: #374151;
    line-height: 1.625;

    .section-title {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        gap: 10px;

        .lucide-lock {
            color: #9333ea;
        }
    }

    .clausula {
        padding: 1rem;
        border-left: 1px solid;
        border-left-width: 4px;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        border-color: #2563eb;
        background-color: #eff6ff;
        margin-top: 1rem;

        h3 {
            color: #111827;
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }

        ul {
            list-style-type: disc;
            list-style-position: inside;
            margin-top: 0.5rem;
        }
    }
}