.card-item {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 15px;

    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

        .card-img-container img {
            transform: scale(1.1);
        }

        .card-img-container .btns-container {
            opacity: 1;
        }

        h3 {
            color: #2563eb;
        }
    }

    .card-img-container {
        width: 100%;
        position: relative;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);

        .card-badges {
            position: absolute;
            display: flex;
            justify-content: space-between;
            top: 10px;
            left: 10px;
            display: flex;
            width: 95%;
            gap: 8px;

            span {
                color: #374151;
                padding: 4px 8px;
                border-radius: 15px;
                font-size: 0.75rem;
            }

            #categorie {
                background-color: #FFFFFFE6;
            }

            #estado-object {
                background-color: #DCFCE7;
            }
        }

        .btns-container {
            position: absolute;
            display: flex;
            gap: 10px;
            top: 0.75rem;
            right: 0.75rem;
            opacity: 0;
            z-index: 1000;


            .btn-update-object,
            .btn-remove-object {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem;
                border-radius: 0.5rem;
                text-transform: none;
                border: none;
                cursor: pointer;
            }

            .btn-update-object {
                color: #2563eb;
                background-color: #ffffffe6;


                &:hover {
                    background-color: #afc3f0cc;
                }
            }

            .btn-remove-object {
                color: #dc2626;
                background-color: #ffffffe6;

                &:hover {
                    background-color: #f19f9fd5;
                }
            }
        }

        img {
            width: 100%;
            height: 192px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            object-fit: cover;
            transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 16px;


    h3 {
        font-size: 18px;
        font-weight: 600;
    }

    span,
    p {
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #4b5563;
    }

    svg {
        margin-right: 4px;
    }


    .card-price {
        width: 120px;

        strong {
            font-size: 1.25rem;
            color: #2653EB;
            font-weight: 700;
            line-height: 1.75rem;
        }
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .card-owner {
            display: flex;
            align-items: center;

            .lucide-star {
                color: #facc15;
                fill: #facc15;
            }
        }

        .card-delivery {
            display: flex;
            align-items: center;
            font-size: 0.75rem;
            line-height: 1rem;
            color: #16a34a;

            span {
                color: #16a34a;
            }
        }

    }
}