.side-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    color: #505050;
    top: 0;
    width: 100%;
    max-width: 200px;
    height: 100vh;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transform: translateX(500px);
    transition: transform 0.2s ease-in-out;
    z-index: 10000;

    &.active {
        transform: translateX(0);
    }

    a {
        display: block;
        text-decoration: none;
        padding-top: 0.75rem;
        font-weight: 500;
        font-size: 0.885rem;
        line-height: 1.75rem;

        a:hover {
            background-color: #d5d5d5;
        }

        &:visited {
            color: inherit;
        }
    }

    .conteiner-user {
        display: none;
        position: relative;
        align-items: center;
        gap: 15px;

        svg {
            margin-top: 3px;
            transition: transform 0.2s ease;

            &.flipped {
                transform: rotate(180deg);
            }
        }

        .profile-user {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 5px;
            border-bottom: 1px solid #505050;
            padding-bottom: 10px;
            color: #505050;
            padding: 0 1rem 1rem 1rem;

            &:hover {
                cursor: pointer;
                color: #2563EB;
            }

            .profile-user-name {
                p {
                    font-weight: 500;
                    line-height: 0.5rem;
                    margin-top: 10px;

                }

                span {
                    font-size: 0.75rem;
                }
            }

            .container-img-profile {
                width: 27px;
                height: 27px;
                border-radius: 50%;
                overflow: hidden;
                background-color: #D1D1D1;
            }
        }
    }


    .container-btn-enter {
        display: flex;
        align-items: center;
        padding: 0 1rem 1rem 1rem;

        a {
            width: 100%;
        }

    }

    .btn-menu {
        font-weight: bold;
        border: none;
        border-radius: 7px;
        background-color: #2563EB;
        color: white;
        padding: 10px 15px 10px 15px;
        width: 100%;

        &:hover {
            background-color: #1E40AF;
            cursor: pointer;
        }
    }

    .nav-links-off,
    .nav-links-on {
        display: flex;
        justify-content: center;
        flex-direction: column;

        a {
            color: #505050;
            text-decoration: none;
            font-size: 14px;
            padding: 0.35rem 1rem 0.35rem 1rem;

            &:hover {
                cursor: pointer;
                color: #2563EB;
                background-color: #f3f2f2;
            }

            &.active {
                font-weight: bold;
                color: #2563EB;
                background-color: #f3f2f2;
            }
        }
    }

    .nav-links-off {
        display: flex;
    }

    .nav-links-on {
        display: none;
    }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay.active {
    display: block;
}

.container:hover .overlay {
    opacity: 1;
    transition: transform 0.2s ease-in-out;
}