<app-header [optionNavSelect]="myObjects">
</app-header>
<main>
    <section>
        <div class="section-content">
            <div class="section-header">
                <div class="section-titulo">
                    <h1>Meus Objetos</h1>
                    <p>Gerencie seus objetos cadastrados para aluguel</p>
                </div>
                <button routerLink="/announcet">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-plus" aria-hidden="true">
                        <path d="M5 12h14"></path>
                        <path d="M12 5v14"></path>
                    </svg>Adicionar Objeto
                </button>
            </div>
            <div class="stats-card-area">
                <div class="stats-card">
                    <div class="stats-card-img" id="card-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-package w-6 h-6 text-blue-600" aria-hidden="true">
                            <path
                                d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z">
                            </path>
                            <path d="M12 22V12"></path>
                            <polyline points="3.29 7 12 12 20.71 7"></polyline>
                            <path d="m7.5 4.27 9 5.15"></path>
                        </svg>
                    </div>
                    <div>
                        <p>Total de Objetos</p>
                        <p class="statistical-value">{{products.length}}</p>
                    </div>
                </div>
                <div class="stats-card">
                    <div class="stats-card-img" id="card-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-eye w-6 h-6 text-green-600" aria-hidden="true">
                            <path
                                d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0">
                            </path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                    </div>
                    <div>
                        <p>Disponiveis</p>
                        <p class="statistical-value">{{products.length}}</p>
                    </div>
                </div>
                <div class="stats-card">
                    <div class="stats-card-img" id="card-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="lucide lucide-circle-alert w-6 h-6 text-yellow-600" aria-hidden="true">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" x2="12" y1="8" y2="12"></line>
                            <line x1="12" x2="12.01" y1="16" y2="16"></line>
                        </svg>
                    </div>
                    <div>
                        <p>Indisponiveis</p>
                        <p class="statistical-value">0</p>
                    </div>
                </div>
            </div>

            <div *ngIf="products.length == 0" class="object-not-found">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-package w-16 h-16 text-gray-400 mx-auto mb-4" aria-hidden="true">
                    <path
                        d="M11 21.73a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73z">
                    </path>
                    <path d="M12 22V12"></path>
                    <polyline points="3.29 7 12 12 20.71 7"></polyline>
                    <path d="m7.5 4.27 9 5.15"></path>
                </svg>
                <h3>Nenhum objeto cadastrado</h3>
                <p>Comece a ganhar dinheiro alugando seus objetos ociosos</p>
                <button routerLink="/announcet">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-plus" aria-hidden="true">
                        <path d="M5 12h14"></path>
                        <path d="M12 5v14"></path>
                    </svg> Adicionar Primeiro Objeto
                </button>
            </div>

            <div *ngIf="products.length != 0" class="area-cards">
                <app-card-item *ngFor="let product of products" 
                [id]="product.id",
                [title]="product.title" 
                [category]="product.category"
                [state]="product.state" 
                [imageUrl]="product.imageUrl[0]"
                [description]="product.description"
                [address]="product.address" 
                [uf]="product.uf"
                [price]="product.price"
                [priceHour]="product.priceHour" 
                [rating]="product.rating" [reviewsCount]="product.reviewsCount"
                [delivery]="product.delivery"
                (onDelete)="onProductDeleted($event)">
                </app-card-item>
            </div>
        </div>
    </section>
</main>