.benefits-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;

    @keyframes slide-in-bottom {
        from {
            transform: translateX(0) translateY(300px);
        }

        to {
            transform: translateX(0) translateY(0);
        }
    }

    @keyframes pulse {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    .benefits-section-container {
        display: flex;
        width: 100%;
        max-width: 1280px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        transition: transform 100ms ease-out;

        &.is-visible {
            animation: pulse 1s ease forwards, slide-in-bottom 2s ease-out forwards;
            animation-delay: 0.1ms;
        }

        h2 {
            font-size: 2.25rem;
            font-weight: 700;
            line-height: 2.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1.25rem;
            line-height: 1.75rem;
            color: #4b5563;
            margin-bottom: 4rem;
        }

        .benefits-section-content {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            justify-content: center;
            gap: 20px;
            @media (max-width: 844px) {
            grid-template-columns: repeat(1, minmax(0, 1fr));

            }


            .benefit-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 24px;
                width: 100%;

                svg {
                    color: #2563eb;
                    width: 48px;
                    height: 48px;
                }

                h3 {
                    color: #111827;
                    font-size: 1.25rem;
                    font-weight: 600;
                    line-height: 1.75rem;
                    margin-bottom: 0.75rem;
                }

                p {
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: #6b7280;
                }

                ;
            }
        }
    }
}