.section-categories {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}

.categories-text {
    text-align: center;
    margin-bottom: 3rem;
}

.categories-section {
    text-align: center;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    gap: 10px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin: auto;

    h2 {
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 2.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.25rem;
        line-height: 1.75rem;
        color: #505050;
    }
}

.categories-list {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 350px));
    gap: 1.5rem;
    padding: 20px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, minmax(0, 350px));
    }

    @media (max-width: 765px) {
        grid-template-columns: repeat(2, minmax(0, 350px));
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-450px) translateY(0);
    }

    to {
        transform: translateX(0) translateY(0);
    }
}

.category-item {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: rgb(249, 250, 251);
    opacity: 0;
    transition: transform 200ms ease-out,
        box-shadow 200ms ease-out,
        background-color 200ms ease-out,
        color 200ms ease-out;

    &.is-visible {
        animation: pulse 1s ease forwards, slide-in-left 0.5s ease-out forwards;
        animation-delay: var(--delay, 0s);

        &:hover {
            transform: translateX(0) translateY(-5px);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
            cursor: pointer;
            color: #2563eb;
            background-color: rgba(219, 234, 254, 0.5);
        }

        h3 {
            font-size: 1rem;
            line-height: 1.75rem;
            font-weight: 600;
            margin-bottom: 0.25rem;
        }

        p {
            font-size: 0.875rem;
            line-height: 1.25rem;
            color: #505050;
        }

        .img-category {
            font-size: 2.25rem;
            line-height: 2.5rem;
            margin-bottom: 0.75rem;
        }
    }
}