<main>
    <section class="section-login">
        <form id="form-login">
            <img src="img/logo-danki.png" alt="Logo Danki" class="logo">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-group">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button class="btn-entrar" type="submit">Entrar</button>

            <div class="text-redirect">
                <p>Não tem uma conta? <a href="/register">Cadastra-se aqui</a></p>
            </div>
        </form>
    </section>
</main>