main {
    width: 100%;

    .content {
        width: 100%;
        max-width: 869px;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 50px;
        padding: 2rem;
        border-radius: 1rem;
        background-color: #ffffff;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
            0 8px 10px -6px rgba(0, 0, 0, 0.1);

        .title {
            text-align: center;
            margin-bottom: 2rem;

            h1 {
                color: #111827;
                font-weight: 700;
                font-size: 2.25rem;
                line-height: 2.5rem;
                margin-bottom: 1rem;
            }

            p {
                color: #4b5563;
            }
        }

        .footer-terms {
            border-top: 1px solid #e5e7eb;
            border-color: #e5e7eb;
            color: #4b5563;
            font-size: 0.875rem;
            line-height: 1.25rem;
            text-align: center;
            margin-top: 1.5rem;
            padding-top: 1rem;
        }
    }
}