<app-header [optionNavSelect]="terms"></app-header>

<main>
    <div class="content">
        <div class="title">
            <h1>Termos de Uso e Política de Privacidade</h1>
            <p>Última atualização: 02/12/2025</p>
        </div>
        <app-terms-use-section></app-terms-use-section>
        <app-terms-lgpd-section></app-terms-lgpd-section>
        <app-terms-privacy-section></app-terms-privacy-section>
        <app-terms-contact-section></app-terms-contact-section>

        <div class="footer-terms">
            <p>Ao continuar usando o RentShare, você confirma que leu, entendeu e concorda com estes Termos de Uso e
                Política de Privacidade.</p>
        </div>
    </div>
</main>