.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}

.modal-container {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn-confirm {
  padding: 10px 18px;
  background: #008cff;
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

.btn-cancel {
  padding: 10px 18px;
  background: #ddd;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
