.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: #fff;
    padding: 34px;
    border-radius: 12px;
    width: 90%;
    max-width: 420px;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

    h2 {
        margin-bottom: 1rem;
    }

    .modal-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 12px;

        @media (max-width: 370px) {
            flex-direction: column;
        }


        .btn-confirm {
            font-weight: bold;
            border: none;
            border-radius: 7px;
            background-color: #2563EB;
            color: white;
            padding: 10px 50px 10px 50px;

            &:hover {
                background-color: #1E40AF;
                cursor: pointer;
            }
        }

        .btn-cancel {
            padding: 10px 50px;
            background: #ddd;
            border: none;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: #cac9c9 ;
            }
        }
    }
}