<app-header></app-header>
<section>
    <div class="section-content">
        <div class="profile-area">
            <div class="profile-background">
            </div>
            <div class="profile-description">
                <div class="profile-data">
                    <div class="photo-perfil">
                        <img src="" alt="">
                    </div>
                    <div class="profile-text">
                        <h1>{{user!.name}} {{user?.lastName}}</h1>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-mail" aria-hidden="true">
                                <path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path>
                                <rect x="2" y="4" width="20" height="16" rx="2"></rect>
                            </svg><span>{{user?.email}}</span>
                        </p>
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-calendar" aria-hidden="true">
                                <path d="M8 2v4"></path>
                                <path d="M16 2v4"></path>
                                <rect width="18" height="18" x="3" y="4" rx="2"></rect>
                                <path d="M3 10h18"></path>
                            </svg><span>{{user?.registerMoment}}</span>
                        </p>
                    </div>
                </div>
                <div class="area-btn-edit">
                    <button class="btn-finish" *ngIf="!isEditing" (click)="isEditing = !isEditing">Editar
                        perfil</button>
                    <button class="btn-cancel" *ngIf="isEditing" (click)="isEditing = !isEditing">Cancelar</button>
                </div>
            </div>
        </div>
        <div class="area-info">
            <form id="form-register" action="">
                <h2>Informações do perfil</h2>
                <div class="input-group">
                    <div class="field">
                        <label for="nome">Nome:</label>
                        <input type="text" id="nome" name="nome" required [(ngModel)]="user!.name" [disabled]="!isEditing">
                    </div>

                    <div class="field">
                        <label for="sobrenome">Sobrenome:</label>
                        <input type="text" id="sobrenome" name="sobrenome" required [(ngModel)]="user!.lastName" [disabled]="!isEditing">
                    </div>
                </div>

                <div class="input-group">
                    <div class="field">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required disabled [(ngModel)]="user!.email">
                        <p>Email não pode ser alterado</p>
                    </div>
                </div>

                <div class="input-group">
                    <div class="field">
                        <label for="telefone">Telefone:</label>
                        <input type="tel" id="telefone" name="telefone" required [(ngModel)]="user!.phone" [disabled]="!isEditing">
                    </div>
                </div>

                <div class="input-group">
                    <div class="field">
                        <label for="birthday">Data de Nascimento:</label>
                        <input type="date" id="birthday" name="birthday" required disabled [(ngModel)]="user!.birthday">
                         <p>Data de nascimento não pode ser alterado</p>
                    </div>
                </div>

                <div class="input-group">
                    <div class="field">
                        <label for="telefone">Cpf:</label>
                        <input type="text" id="Cpf" name="Cpf" required disabled [(ngModel)]="user!.cpf">
                         <p>CPF não pode ser alterado</p>
                    </div>
                </div>



                <div class="area-btns-finish" *ngIf="isEditing">
                    <button class="btn-cancel" type="submit">Cancelar</button>
                    <button class="btn-finish" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                            stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-save"
                            aria-hidden="true">
                            <path
                                d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z">
                            </path>
                            <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7"></path>
                            <path d="M7 3v4a1 1 0 0 0 1 1h7"></path>
                        </svg><span>Salvar Alterações</span></button>
                </div>
            </form>
        </div>
        <div class="area-cards">
            <article class="card">
                <div class="card-content">
                    <h3>Objetos Cadastrados</h3>
                    <p class="statistical-value">{{productsUser}}</p>
                </div>
            </article>
            <article class="card">
                <div class="card-content">
                    <h3>Reservas Realizadas</h3>
                    <p class="statistical-value">0</p>
                </div>
            </article>
        </div>
    </div>
</section>